@CHARSET "ISO-8859-1";
/* Reset CSS
 * --------------------------------------- */
body,div,dl,dt,dd,ul,ol,li,h1,h2,h3,h4,h5,h6,pre,
form,fieldset,input,textarea,p,blockquote,th,td {
    padding: 0;
    margin: 0;
}
a{
    text-decoration:none;
}
table {
    border-spacing: 0;
}
fieldset,img {
    border: 0;
}
address,caption,cite,code,dfn,em,strong,th,var {
    font-weight: normal;
    font-style: normal;
}
strong{
    font-weight: bold;
}
ol,ul {
    list-style: none;
    margin:0;
    padding:0;
}
caption,th {
    text-align: left;

}
h1,h2,h3,h4,h5,h6 {
    font-weight: normal;
    font-size: 100%;
    margin:0;
    padding:0;
    color:#f2f2f2;
}
q:before,q:after {
    content:'';
}
abbr,acronym { border: 0;
}
input:focus::-webkit-input-placeholder {
       color: transparent !important;
    }
input:focus::-moz-placeholder {
       color: transparent !important;
    }
input:focus::-moz-placeholder {
    color: transparent !important;
}
input:focus:-ms-input-placeholder {
    color: transparent !important;
}
textarea:focus::-webkit-input-placeholder {
       color: transparent !important;
    }
textarea:focus::-moz-placeholder {
       color: transparent !important;
    }
textarea:focus::-moz-placeholder {
    color: transparent !important;
}
textarea:focus:-ms-input-placeholder {
    color: transparent !important;
}
input::-ms-clear {
    display: none;
}

body {
    margin: 0;
    font-family: 'Roboto', 'Montserrat';
    font-size: 23px;
    line-height: 1.2;
    font-weight: 400;
    color: #ffffff;
    background: #000;
}

/* Centered texts in each section
* --------------------------------------- */
.section{
    text-align:center;
}

/* Backgrounds will cover all the section
* ---------------------------------------*/
#section1,
#section2,
#section3,
#section4,
#section5,
#section6 {
    background-position: center;
    background-size: cover;
    width: 100%;
    height: 100vh;
}

/* Defining each section background and styles
* ---------------------------------------*/
#section1{
    background-image: url(../img/banner.jpg);
}
#section2{
    background-image: url(../img/about_me.jpg);
    background-position: -600px;
}
#section3{
    background-image: url(../img/work_with.jpg);
    background-position: -800px;
}
#section4{
    background: #000;
}
#section5{
    background-image: url(../img/joshnuttall271928.jpg);
}
#section6{
    background: #000;
}

/* Section 01
* ---------------------------------------*/
.title-1 {
    font-size: 72px;
    font-weight: 700;
    letter-spacing: 5;
    margin-bottom: 40px;
}

.title-1 span {
    color: rgb(232, 30, 72);
}
.btn {
    width: 260px;
    height: 60px;
    color: #ffffff;
    background-color: #1f1f1f;
    border-radius: 5px;
    cursor: pointer;
    transition-duration: .3s;
}
.btn:hover {
    color: #000000;
    background-color: #fff4f4;
}

/* Section 02
* ---------------------------------------*/
.section-2_item {
    display: flex;
}
.section-2_col {
    flex: 0 1 50%;
}
.section-2_col:last-child {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    background: #000;
    height: 100vh;
    padding: 0 40px;
    text-align: start;
}
.section__span {
    font-size: 82px;
    font-family: 'Open Sans';
    color: #e81e48;
    margin-bottom: 40px;
    font-weight: 700;
}
.section__title {
    font-size: 42px;
    font-weight: 700;
    letter-spacing: 3;
    margin-bottom: 30px;
}
.section__text {
    color: rgb(150, 150, 150);
    font-size: 20px;
    line-height: 1.55;
}

/* Section 03
* ---------------------------------------*/
.section-3_item {
    display: flex;
}
.section-3_col {
    flex: 0 1 45%;
}

/* Section 04
* ---------------------------------------*/
.section-4__item {
    display: flex;
    flex-wrap: wrap;
    margin: 0 270px;
}
.section-4__body {
    display: flex;
    margin-bottom: 30px;
    padding: 0 10px;
}
.section-4__col {
    flex: 0 1 50%;
}
.section-4__icon {
    width: 50px;
    height: 50px;
    margin-right: 15px;
}
.section-4__icon img {
    width: 100%;
}
.section-4__content {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
}
.section-4__subtitle {
    font-size: 22px;
    font-weight: 700;
    margin-bottom: 10px;
}
.section-4__text {
    color: #8a8a8a;
    font-size: 16px;
    line-height: 1.55;
    font-weight: 400;
    text-align: start;
}

/* Section 05
* ---------------------------------------*/
.section-5_item {
    display: flex;
}
.section-5_col {
    flex: 0 1 60%;
}
.section-5_col-r {
    flex: 0 1 40%;
}
.section-5 .section-4__subtitle {
    margin-bottom: 20px;
}
.section-4__subtitle span {
    text-decoration: line-through;
    margin-left: 10px;
}
.section-5 .section-4__text {
    text-align: center;
    margin-bottom: 10px;
}
.section-5 .btn {
    margin-top: 15px;
}
.section-5__body {
    max-width: 300px;
    background-color: #000;
    box-shadow: inset 0px 0px 20px 0px #e81e48;
    padding: 80px 50px;
}

/* Section 06
* ---------------------------------------*/
.section-6__body {
    max-width: 560px;
    margin: 0 auto;
}
.form__input {
    width: 450px;
    height: 55px;
    margin-bottom: 15px;
    padding: 0 10px;
    border-radius: 5px;
    cursor: pointer;
}
.btn__form {
    width: 450px;
    height: 55px;
    margin-bottom: 30px;
}
.section-6 .section-4__text {
    text-align: center;
}

/* Menu
 * --------------------------------------- */
#menu li {
    display:inline-block;
    margin: 10px;
    color: #000;
    background:#e6e4e4;
    background: rgba(255,255,255, 0.3);
    -webkit-border-radius: 10px;
            border-radius: 10px;
}
#menu li.active{
    background:#666;
    background: rgba(0,0,0, 0.5);
    color: #fff;
}
#menu li a{
    text-decoration:none;
    color: #000;
}
#menu li.active a:hover{
    color: #000;
}
#menu li:hover{
    background: rgba(255,255,255, 0.8);
}
#menu li a,
#menu li.active a{
    padding: 5px 10px;
    display:block;
}
#menu li.active a{
    color: #fff;
}
#menu{
    position:fixed;
    top:0;
    left:0;
    height: 60px;
    z-index: 70;
    width: 100%;
    padding: 0;
    margin:0;
    overflow: auto;
    transition: all 0.5s ease 0s;
}

/* Modals
* --------------------------------------- */
.modal {
    display: none;
    width: 100%;
    height: 100%;
    padding: 15px;
    overflow: auto;
    background-color: rgba(6, 15, 49, 0.9);
    position: fixed;
    top: 0;
    left: 0;
    z-index: 1000;
}

.modal.show {
    display: flex;
}

.modal__dialog {
    width: 100%;
    max-width: 455px;
    height: auto;
    margin: auto;
    position: relative;
    background-color: #fff;
    padding: 80px 50px 20px 50px;
    transform: scale(0);
    transition: transform .2s linear;
}

.modal__close {
    width: 34px;
    height: 39px;
    padding: 0;
    background: none;
    border: 0;
    cursor: pointer;
    position: absolute;
    top: 14px;
    right: 15px;
    z-index: 1;
    transition: transform .2s linear;
}

.modal__close img {
    width: 30px;
    height: 34px;
}
.modal__close:hover {
    transform: translateY(-3px);
}

.modal .section-4__text {
    text-align: center;
}

/* Burger
* --------------------------------------- */
.burger {
    width: 30px;
    padding: 10px 0;
    display: none;
    font-size: 0;
    border: 0;
    background: none;
    cursor: pointer;
    position: absolute;
    top: 15px;
    right: -3px;
    z-index: 100;
}

.burger__item {
    display: block;
    width: 100%;
    height: 5px;
    background-color: #fff;
    position: absolute;
    top: 20px;
    right: 20px;
    transition: background .3s linear;
}

.burger__item:before {
    content: "";
    width: 100%;
    height: 5px;
    background-color: #fff;
    position: absolute;
    left: 0;
    z-index: 1;

}

.burger__item:after {
    content: "";
    width: 60%;
    height: 5px;
    background-color: #fff;
    position: absolute;
    left: 0;
    z-index: 1;
}

.burger__item:before {
    top: -10px;
}

.burger__item:after {
    bottom: -10px;
}

/* Media
* --------------------------------------- */
@media (max-width: 991px) {
    .title-1 {
        font-size: 50px;
        letter-spacing: 3px;
        margin-bottom: 30px;
    }
}

@media (max-width: 768px) {
    .burger {
        display: block;
    }
    #menu {
        top: -100%;
        height: 100%;
        background: #fff;
        opacity: .8;
        }

    #menu.show {
        display: flex;
        flex-direction: column;
        top: 0;
        right: 0;
        font-size: 30px;
        font-weight: 700;
        text-align: center;
        padding: 70px 10px 20px 10px;
    }
    .title-1 {
        font-size: 40px;
        letter-spacing: 2px;
        margin-bottom: 20px;
    }
    .btn {
        width: 250px;
        height: 50px;
    }
    .section__span {
        font-size: 60px;
        margin-bottom: 20px;
    }
    .section__title {
        font-size: 30px;
        letter-spacing: 2px;
        margin-bottom: 15px;
    }
    .section__text {
        font-size: 14px;
        line-height: 1.35;
    }
    .section-3_col {
        flex: 0 1 33%;
    }
    .section-4__item {
        margin: 0 15px;
    }
    .section-4__col {
        flex: 0 1 100%;
    }
    .section-4 .section__title {
        margin-bottom: 30px;
    }
    .section-4__subtitle {
        font-size: 20px;
    }
    .section-4 .section-4__text {
        font-size: 14px;
        padding-right: 20px;
    }
    .section-5_col-r {
        flex: 0 0 80%;
    }
    .section-6__body {
        max-width: 560px;
    }
    .form__input {
        width: 350px;
        height: 45px;
    }
    .btn__form {
        width: 350px;
        height: 45px;
    }
    .modal__dialog {
        max-width: 360px;
        padding: 70px 45px 15px 45px;
    }
}

@media (max-width: 567px) {
    #section1{
        background-position: -550px;
    }
    .title-1 {
        font-size: 28px;
    }
    .section-2_item {
        display: block;
    }
    .section-3_col {
        flex: 0 1 10%;
    }
    .section-4__body {
        margin-bottom: 15px;
        padding: 0 5px;
    }
    .section-5_item {
        display: block;
    }
    .section-5__body {
        padding: 60px 30px;
        margin: 0 5px;
    }
    .section__span {
        font-size: 50px;
        margin-bottom: 10px;
    }
    .section__title {
        font-size: 24px;
    }
    .section-4__text {
        font-size: 14px;
    }
    .form__input {
        width: 240px;
        height: 35px;
    }
    .btn__form {
        width: 240px;
        height: 35px;
    }
    .modal {
        padding: 0;
    }
    .modal__dialog {
        max-width: 250px;
        padding: 40px 25px 10px 25px;
    }
    .modal__close {
        width: 20px;
        height: 24px;
        top: 5px;
        right: 8px;
    }
    .modal__close img {
        width: 20px;
        height: 24px;
    }
}
